<h1>Current Player: {{player}}</h1>

<button nbButton outline status="danger" (click)="newGame()">New Game</button>

<div class="alert-wrap wrap" *ngIf="winner">
    <nb-alert status="success" closable *ngIf="winner=='X'" (close)="onClose()">
        Player {{winner}} won the game!
    </nb-alert>
    <nb-alert status="info" closable *ngIf="winner=='O'" (close)="onClose()">
        Player {{winner}} won the game!
    </nb-alert>
</div>

<div class="wrap" *ngIf="loader"></div>

<main>
    <app-square 
        *ngFor="let square of squares; let i = index"
        [value]="square"
        (click)="makeMove(i)">
    </app-square>
</main>
