<h1>Current Player: {{player}}</h1>
<h4>Select Mode
<nb-radio-group [(value)]="playerMode" (valueChange)="updateMode()">
    <nb-radio value="1">1 Player</nb-radio>
    <nb-radio value="2">2 Player</nb-radio>
</nb-radio-group>
</h4>

<button nbButton outline status="danger" (click)="newGame()">New Game</button>

<div class="alert-wrap wrap" *ngIf="winner">
    <nb-alert status="success" closable *ngIf="winner=='X'" (close)="onClose()">
        Player {{winner}} won the game!
    </nb-alert>
    <nb-alert status="info" closable *ngIf="winner=='O'" (close)="onClose()">
        Player {{winner}} won the game!
    </nb-alert>
</div>

<div class="wrap" *ngIf="loader"></div>

<main>
    <app-square 
        *ngFor="let square of squares; let i = index"
        [value]="square"
        (click)="makeMove(i)">
    </app-square>
</main>
